.fun{
    width:30%;
    height: 400%;
    border: 2px skyblue;
    background-color: white;
    background-attachment: fixed;
    position: fixed;

}
#intro{
    width:60%;
    height: 400px;
    float: right;
    margin-right: 2%;
    background-color: cadetblue;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
#what{
    width:60%;
    height: 400px;
    float: right;
    margin-right: 2%;
    background-color: cadetblue;
    justify-content: center;
    flex-direction: column;
}
#script{
    width:60%;
    height: 400px;
    float: right;
    margin-right: 2%;
    background-color: cadetblue;
    justify-content: center;
    flex-direction: column;

}
#hello{
    width:60%;
    height: 400px;
    float: right;
    margin-right: 2%;
    margin-top: -10%;
    background-color: cadetblue;
    justify-content: center;
    flex-direction: column;
}
#var{
    width:60%;
    height: 400px;
    float: right;
    margin-right: 2%;
    margin-top: -10%;
    background-color: cadetblue;
    flex-direction: column;
    justify-content: center;
}
#dvar{
    width:60%;
    height: 400px;
    float: right;
    margin-right: 2%;
    margin-top: -10%;
    background-color: cadetblue;
    flex-direction: column;
    justify-content: center;
}
#scop{
    width:60%;
    height: 400px;
    float: right;
    margin-right: 2%;
    margin-top: -10%;
    background-color: cadetblue;
    flex-direction: column;
    justify-content: center;
}